/*
 * Additional CSS for Hyde-X
 */

.posts {
  list-style: none;
}
/* Non-selectable decorative text*/
.grey {
	display: block;
	text-overflow: clip; 
	margin: 0 auto; 
	width: 100%; 
	white-space: nowrap; 
	overflow: hidden; 
	font-size: 18px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	font-family: 'Droid Sans Mono', monospace;
}
 .grey > div {
    margin: 0 -1000%;
}
.fade {
	color: rgba(255, 255, 255, 0.15);
	text-align: center; !important
	margin: 0 auto; !important
}
.clear {
	color: rgba(255, 255, 255, 1);
}
.footer {
	font-size: 12px;
	text-align: right; 
	height: auto;
	border-top: solid 1px rgba(255,255,255,0.2);
}
.sidebar {
	text-align: center;
}
.sidebar-about {
	bottom: auto;
}
#logo, 
#tittls{
	margin: 0 auto;
	border: solid 1 px rgba(255,255,255,0.3);
}
#logo:hover,
#tittle:hover {
	opacity: 0.9;
	text-decoration: none;
}