/*
 * Additional CSS for Hyde-X
 */
/* Main color */
.theme-base-green .sidebar {
  background-color: #246928;
}
.theme-base-green .content a,
.theme-base-green .related-posts li a:hover {
  color: #246928;
}

.posts {
	list-style: none;
}
/* Non-selectable decorative text*/

.grey {
	display: block;
	text-overflow: clip;
	margin: 0 auto;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 18px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Droid Sans Mono', monospace;
}
.grey > div {
	margin: 0 -1000%;
}
.fade {
	color: rgba(255, 255, 255, 0.15);
	text-align: center;
	margin: 0 auto;
}
.clear {
	color: rgba(255, 255, 255, 1);
}
.footer {
	font-size: 12px;
	text-align: right;
	height: auto;
	border-top: solid 1px rgba(255, 255, 255, 0.2);
}
.sidebar {
	text-align: center;
}
.sidebar-about {
	bottom: auto;
}
/* logo */
#logo {
	font-size: 160px;
	line-height: normal;
	transition: all 0.2s linear 0s;
	max-height: 150px;
	text-overflow: ellipsis;
}
.sidebar-about:hover #logo {
	transform: scale(1.07,1.07)
}
.tagline {
	opacity: 1;
}

/* Fancy links */
a {
	position: relative;
	text-decoration: none;
}
.sidebar p > a {
	color: #fff;
}
.content a {
	color: #246928;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
.content a:hover {
	color: #246928;
	text-decoration: none;
}
.sidebar p > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: left;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.content a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #246928;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left;
	transform-origin: left;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.sidebar p > a:hover:before,
.content a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Social icons*/
.social-icon {
	display: block;
	color: #fff;
	font-size: 34px;
	line-height: inherit;
  text-align: center;
	
}
.social {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 50px;
	right: 0;
}
.social a:hover {
	text-decoration: none;
}
.social li{
	display: inline-block;
	width: 46px;
	height: 46px;
	padding: 1px;
	border-radius: 6px;
	text-align: center;
	vertical-align: middle;
	text-overflow: ellipsis;
	color: #fff;
	transition: all 0.18s ease-in-out 0s;
}
.social li:hover {
	/*box-shadow: inset 2px 2px 0px 0px #fff, inset -2px -2px 0px 0px rgba(255,255,255,0.7);*/
	background: rgba(255,255,255,0.3);
	transform: translateY(-4px);
}
#facebook, #linkedin, #twitter, #googleplus {
	color: #fff;
	transition: all 0.26s ease-in-out 0s;
}
.social li:hover #facebook {
	color: #3b5998;
}
.social li:hover #googleplus {
	color: #dd4b39;
}
.social li:hover #linkedin {
	color:  #007bb6;
}
.social li:hover #twitter {
	color: #00aced;
}
